@model Dysputeka.Core.Domain.Entities.Question





<div>
    <h2>@Html.ActionLink(Model.Title,"Index","Question",new {Id = Model.Id },null)</h2> @*  zamienia na link <a href="Index/Question/idpytania" >Tytuł</a>"*@ 
    <div>  @* Taki link jeszcze nie istnieje *@
        
        @Html.DisplayFor(model => model.Content) @* wyświetla treść *@
    </div>

</div>
<hr/>
<br/>
