@model PortalKol.Web.Controllers.OrganizationsModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <input class="form-control" type="text" placeholder="Search using name, tag..">
</p>

<div class="row">
    @Html.DisplayFor(m => m.Organizations)
</div>